<a href="https://colab.research.google.com/github/bariskucuk1999/restoranlar-icin-siparis-tahmin-sistemi/blob/main/BitirmeProjesi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Restoran 1 Veriler**

In [ ]:
restaurant1=pd.read_csv("restaurant-1-orders.csv")
restaurant1.rename(columns = {'Order Number':'Order ID'}, inplace = True)
restaurant1

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6
...,...,...,...,...,...,...
74813,2518,18/05/2016 18:53,House Red wine 75cl,2,17.95,7
74814,2503,14/05/2016 19:28,House Red wine 75cl,2,17.95,6
74815,2467,10/05/2016 13:18,House Red wine 75cl,2,17.95,9
74816,2249,07/04/2016 19:04,House white wine 75cl,1,17.95,6
74817,1403,02/10/2015 17:29,House Red wine 75cl,1,17.95,9

**Restoran 2 Veriler**

In [ ]:
restaurant2=pd.read_csv("restaurant-2-orders.csv")
restaurant2

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products
0,25583,03/08/2019 21:58,Tandoori Mixed Grill,1,11.95,12
1,25583,03/08/2019 21:58,Madras Sauce,1,3.95,12
2,25583,03/08/2019 21:58,Mushroom Rice,2,3.95,12
3,25583,03/08/2019 21:58,Garlic Naan,1,2.95,12
4,25583,03/08/2019 21:58,Paratha,1,2.95,12
...,...,...,...,...,...,...
119178,8144,13/02/2017 12:59,House Red wine 75cl,1,17.95,18
119179,7463,03/01/2017 19:13,House white wine 75cl,1,17.95,6
119180,6719,24/11/2016 18:35,House Red wine 75cl,1,17.95,6
119181,5251,21/08/2016 17:55,House white wine 75cl,1,17.95,9
119182,4698,10/06/2016 18:18,House white wine 75cl,1,17.95,1

**Restoran 1 Fiyatlar**

In [ ]:
restaurant_price1=pd.read_csv("restaurant-1-products-price.csv")
restaurant_price1

                 Item Name  Product Price
0               Mint Sauce           0.50
1              Lime Pickle           0.50
2            Mango Chutney           0.50
3                Red Sauce           0.50
4            Onion Chutney           0.50
..                     ...            ...
243      King Prawn Karahi          12.95
244     Methi - King Prawn          12.95
245                  Kurma          12.95
246    House Red wine 75cl          17.95
247  House white wine 75cl          17.95

[248 rows x 2 columns]

**Restoran 2 Fiyatlar**

In [ ]:
restaurant_price2=pd.read_csv("restaurant-2-products-price.csv")
restaurant_price2

                 Item Name  Product Price
0            Onion Chutney           0.50
1               Mint Sauce           0.50
2            Mango Chutney           0.50
3                Red Sauce           0.50
4              Lime Pickle           0.50
..                     ...            ...
297      Saag - king-prawn          12.95
298   Dupiaza - king-prawn          12.95
299     Methi - King Prawn          12.95
300  House white wine 75cl          17.95
301    House Red wine 75cl          17.95

[302 rows x 2 columns]

**İki Dataset'in Birleştirilmesi**

In [ ]:
df = pd.concat([restaurant1, restaurant2], ignore_index=True)
df

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6
...,...,...,...,...,...,...
193996,8144,13/02/2017 12:59,House Red wine 75cl,1,17.95,18
193997,7463,03/01/2017 19:13,House white wine 75cl,1,17.95,6
193998,6719,24/11/2016 18:35,House Red wine 75cl,1,17.95,6
193999,5251,21/08/2016 17:55,House white wine 75cl,1,17.95,9
194000,4698,10/06/2016 18:18,House white wine 75cl,1,17.95,1

In [ ]:
df_price = pd.concat([restaurant_price1, restaurant_price2], ignore_index=True)
df_price

                 Item Name  Product Price
0               Mint Sauce           0.50
1              Lime Pickle           0.50
2            Mango Chutney           0.50
3                Red Sauce           0.50
4            Onion Chutney           0.50
..                     ...            ...
545      Saag - king-prawn          12.95
546   Dupiaza - king-prawn          12.95
547     Methi - King Prawn          12.95
548  House white wine 75cl          17.95
549    House Red wine 75cl          17.95

[550 rows x 2 columns]

**Fiyat Dataset'indeki Duplicate Değerlerin Kaldırılması**

In [ ]:
boolean = df_price["Item Name"].is_unique
print(boolean) #tekrarlanan veri olup olmadığını kontrol edelim
df_price=df_price.sort_values('Product Price', ascending=True)
df_price

False

                 Item Name  Product Price
0               Mint Sauce           0.50
250          Mango Chutney           0.50
251              Red Sauce           0.50
252            Lime Pickle           0.50
249             Mint Sauce           0.50
..                     ...            ...
545      Saag - king-prawn          12.95
247  House white wine 75cl          17.95
246    House Red wine 75cl          17.95
548  House white wine 75cl          17.95
549    House Red wine 75cl          17.95

[550 rows x 2 columns]

In [ ]:
df_price=df_price.drop_duplicates('Item Name').sort_index()
df_price #duplicate verileri çıkardık

                Item Name  Product Price
0              Mint Sauce           0.50
5           Plain Papadum           0.80
6           Spicy Papadum           0.80
10             Plain Naan           2.60
11                 Raitha           2.95
..                    ...            ...
543  Dhansak - king-prawn          12.95
544    Methi - king-prawn          12.95
545     Saag - king-prawn          12.95
546  Dupiaza - king-prawn          12.95
547    Methi - King Prawn          12.95

[346 rows x 2 columns]

**Eksik Veri Kontrolü**

In [ ]:
total_cells = np.product(df.shape)
missing_values_count = df.isnull().sum()
total_missing = missing_values_count.sum()
#eksik verilerin yüzdesi
(total_missing/total_cells) * 100

0.0

**Bilinmeyen Veriye Sahip Satırları Silme**

In [ ]:
unknown_data_check=df[(df['Order Date']==None) | (df['Item Name']==None) | (df['Quantity']==None) | (df['Product Price']==None) | (df['Total products']==None)].index
df.drop(unknown_data_check,axis=0,inplace=True)
df

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6
...,...,...,...,...,...,...
193996,8144,13/02/2017 12:59,House Red wine 75cl,1,17.95,18
193997,7463,03/01/2017 19:13,House white wine 75cl,1,17.95,6
193998,6719,24/11/2016 18:35,House Red wine 75cl,1,17.95,6
193999,5251,21/08/2016 17:55,House white wine 75cl,1,17.95,9
194000,4698,10/06/2016 18:18,House white wine 75cl,1,17.95,1

**Kategorik Verilerin Encode Edilmesi**

In [ ]:
df.shape

(194001, 6)

In [ ]:
df.dtypes

Order ID            int64
Order Date         object
Item Name          object
Quantity            int64
Product Price     float64
Total products      int64
dtype: object

In [ ]:
#from sklearn import preprocessing #categoric--->numeric
#df['Item ID']= preprocessing.LabelEncoder().fit_transform(df['Item Name'])
#df["Item ID"] = df.index + 1
df['Item ID'] = df.groupby(['Item Name']).ngroup()

In [ ]:
df

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products,Item ID
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6,299
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6,155
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6,140
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6,261
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6,277
...,...,...,...,...,...,...,...
193996,8144,13/02/2017 12:59,House Red wine 75cl,1,17.95,18,148
193997,7463,03/01/2017 19:13,House white wine 75cl,1,17.95,6,149
193998,6719,24/11/2016 18:35,House Red wine 75cl,1,17.95,6,148
193999,5251,21/08/2016 17:55,House white wine 75cl,1,17.95,9,149
194000,4698,10/06/2016 18:18,House white wine 75cl,1,17.95,1,149

In [ ]:
df.dtypes

Order ID            int64
Order Date         object
Item Name          object
Quantity            int64
Product Price     float64
Total products      int64
Item ID             int64
dtype: object

**Dataset'te Tarih ve Saati Farklı Column'lara Ayırma**

In [ ]:
df['Date'] = pd.to_datetime(df['Order Date']).dt.date
df['Time'] = pd.to_datetime(df['Order Date']).dt.time
df

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products,Item ID,Date,Time
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6,299,2019-03-08,20:25:00
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6,155,2019-03-08,20:25:00
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6,140,2019-03-08,20:25:00
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6,261,2019-03-08,20:25:00
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6,277,2019-03-08,20:25:00
...,...,...,...,...,...,...,...,...,...
193996,8144,13/02/2017 12:59,House Red wine 75cl,1,17.95,18,148,2017-02-13,12:59:00
193997,7463,03/01/2017 19:13,House white wine 75cl,1,17.95,6,149,2017-03-01,19:13:00
193998,6719,24/11/2016 18:35,House Red wine 75cl,1,17.95,6,148,2016-11-24,18:35:00
193999,5251,21/08/2016 17:55,House white wine 75cl,1,17.95,9,149,2016-08-21,17:55:00
194000,4698,10/06/2016 18:18,House white wine 75cl,1,17.95,1,149,2016-10-06,18:18:00

In [ ]:
df.dtypes

Order ID            int64
Order Date         object
Item Name          object
Quantity            int64
Product Price     float64
Total products      int64
Item ID             int64
Date               object
Time               object
dtype: object

**Item Seçimi**

In [ ]:
def get_item(df,item_id):
  return df[df['Item ID']==item_id]['Item Name'].values[0]
get_item(df,232)

'Mango Chutney'

**Saat Aralığını Filtreleme**

In [ ]:
#df[(df['Date'] > pd.Timestamp(2019,12,1)) & (df['Date'] < pd.Timestamp(2019,12,31))] (tarih aralığını filtreleme)
time_start = input("Saat aralığı için başlangıç saati: (HH:MM formatında)\n").split()
time_start = ' '.join(map(str, time_start))
time_end = input("Saat aralığı için bitiş saati: (HH:MM formatında)\n").split()
time_end = ' '.join(map(str, time_end))
df["Time"]= df['Time'].astype(str)

df=df[(df['Time'] > time_start) & (df['Time'] < time_end)]
df

Saat aralığı için başlangıç saati: (HH:MM formatında)
20:00
Saat aralığı için bitiş saati: (HH:MM formatında)
20:30

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products,Item ID,Date,Time
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6,299,2019-03-08,20:25:00
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6,155,2019-03-08,20:25:00
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6,140,2019-03-08,20:25:00
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6,261,2019-03-08,20:25:00
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6,277,2019-03-08,20:25:00
...,...,...,...,...,...,...,...,...,...
193893,4776,15/06/2016 20:21,Tandoori King Prawn Masala,1,12.95,6,350,2016-06-15,20:21:00
193959,15441,23/03/2018 20:14,House white wine 75cl,1,17.95,7,149,2018-03-23,20:14:00
193963,14455,05/02/2018 20:05,House Red wine 75cl,1,17.95,11,148,2018-05-02,20:05:00
193986,10643,12/07/2017 20:03,House white wine 75cl,2,17.95,9,149,2017-12-07,20:03:00
193987,10386,28/06/2017 20:05,House white wine 75cl,1,17.95,6,149,2017-06-28,20:05:00

**Bütçenin Belirlenmesi**

In [ ]:
df_price.describe()

       Product Price
count     346.000000
mean        8.092341
std         3.135945
min         0.500000
25%         5.950000
50%         8.950000
75%         9.950000
max        17.950000

In [ ]:
budget=input("Müşterinin tahmini bütçesi: (1 kişi için önerilen 20)\n") #346 farklı sipariş seçeneğinin ortalama fiyatını 8.09 bulduk
#bir müşterinin tek öğün için 2 veya 3 adet ürün sipariş vereceği öngörülerek önerilen bütçe 20 belirlenmiştir
def customer_budget(budget):
  budget=int(budget)
  return budget
customer_budget=customer_budget(budget)

Müşterinin tahmini bütçesi: (1 kişi için önerilen 20)
20

**İlk Ürünün Seçiminin Yapılması**

In [ ]:
switch=1
for i in range(0,100):
    while switch==1:
      try:
        choice=input("Müşterinin ilk seçimi: (Ürün ID)\n")
        choice=int(choice)
        if df[df['Item ID']==choice]['Item Name'].values[0] is not None:
          print("Çalışıyor...")
          switch=0
      except:
        print("İstenen saat aralığında girilen Ürün ID'sine ait herhangi bir veri bulunamadı...")
        continue
      break
def customer_choice(choice):
  return choice
customer_budget=customer_budget-(df[df['Item ID']==choice]['Product Price'].values[0])
#print(customer_budget)

Müşterinin ilk seçimi: (Ürün ID)
140
Çalışıyor...

**Toplam Ürün Sipariş Adeti**

In [ ]:
value_counts1=df["Item Name"].value_counts()
value_counts1.head(10)

Pilau Rice              967
Plain Papadum           659
Garlic Naan             527
Naan                    512
Bombay Aloo             445
Chicken Tikka Masala    432
Mango Chutney           362
Plain Rice              355
Mushroom Rice           301
Peshwari Naan           286
Name: Item Name, dtype: int64

**Ürün Sipariş Adetlerinin Dataframe'e Dönüştürülmesi**

In [ ]:
value1=value_counts1.to_frame(name='Count')
value1['Item Name1'] = value1.index
value1 = value1.reset_index(drop=True)
value1

     Count          Item Name1
0      967          Pilau Rice
1      659       Plain Papadum
2      527         Garlic Naan
3      512                Naan
4      445         Bombay Aloo
..     ...                 ...
321      1     Methi - chicken
322      1  Mushroom - chicken
323      1     Rogon - chicken
324      1    Pathia - chicken
325      1         Saag - lamb

[326 rows x 2 columns]

**Treemap Çizelgesi ile Verinin Görselleştirilmesi**

In [ ]:
import plotly.express as px
value1["All"] = "All" #aynı başlangıç noktası olması için
#tree map'in oluşturulması
fig = px.treemap(value1.head(30), path=['All', "Item Name1"], values='Count',
                  color=value1["Count"].head(30), hover_data=['Item Name1'],
                  color_continuous_scale='Oranges',
                )
fig.show()

**Apriori Algoritmasında Satır ve Sütunların Hazırlanması**

In [ ]:
my_ds = df.groupby(['Order ID', 'Item ID'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Order ID')
def binary_table(x):
  if(x>0):
    return 1
  else:
    return 0
my_ds = my_ds.applymap(lambda x:binary_table(x))
my_ds #ilgili satırdaki Order ID'de bulunan Item ID'ler 1, bulunmayanlar 0 olarak tabloda yer almaktadır

Item ID,0,1,2,3,4,5,6,7,8,9,...,367,368,369,370,371,372,373,375,378,380
Order ID,,,,,,,,,,,,,,,,,,,,,
1388,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1810,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25544,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25581,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Sıklıkla Kullanılan Itemset'lerin Bulunması ve Support Değerleri**

In [ ]:
import time
ap_start = time.time()
from mlxtend.frequent_patterns import apriori, association_rules #apriori kütüphanesinin eklenmesi
frequency = apriori(my_ds, min_support=0.01, use_colnames=True)
ap_end = time.time()
frequency
#my1=frequency[frequency["itemsets"]=={265}]

/usr/local/lib/python3.7/dist-packages/mlxtend/frequent_patterns/fpcommon.py:115: DeprecationWarning:

DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type

      support                   itemsets
0    0.013877                        (3)
1    0.042473                        (5)
2    0.015139                       (16)
3    0.034483                       (17)
4    0.010513                       (21)
..        ...                        ...
624  0.010513       (297, 266, 299, 263)
625  0.010093       (297, 299, 308, 263)
626  0.018923  (232, 297, 266, 299, 245)
627  0.010934  (232, 297, 296, 299, 245)
628  0.010513  (232, 297, 299, 308, 245)

[629 rows x 2 columns]

In [ ]:
ap_time=ap_end-ap_start
ap_time #apriori algoritması çalışma süresi

0.45397233963012695

**Apriori Algoritması Birliktelik Kuralları**

In [ ]:
rules_ap_start = time.time()
rules = association_rules(frequency, metric="support", min_threshold=0.01)
rules_ap_end = time.time()
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5),(79),0.042473,0.180404,0.010093,0.237624,1.317178,0.002430,1.075055
1,(79),(5),0.180404,0.042473,0.010093,0.055944,1.317178,0.002430,1.014270
2,(297),(5),0.402019,0.042473,0.023129,0.057531,1.354551,0.006054,1.015978
3,(5),(297),0.042473,0.402019,0.023129,0.544554,1.354551,0.006054,1.312959
4,(299),(5),0.274601,0.042473,0.017662,0.064319,1.514351,0.005999,1.023348
...,...,...,...,...,...,...,...,...,...
2355,(232),"(297, 299, 308, 245)",0.151388,0.013877,0.010513,0.069444,5.004209,0.008412,1.059714
2356,(297),"(232, 299, 308, 245)",0.402019,0.014298,0.010513,0.026151,1.829006,0.004765,1.012171
2357,(299),"(232, 297, 308, 245)",0.274601,0.010934,0.010513,0.038285,3.501590,0.007511,1.028440
2358,(308),"(232, 297, 299, 245)",0.063499,0.031960,0.010513,0.165563,5.180376,0.008484,1.160112
2359,(245),"(232, 297, 299, 308)",0.110597,0.016400,0.010513,0.095057,5.796042,0.008699,1.086919

In [ ]:
rules_ap_time=rules_ap_end-rules_ap_start
rules_ap_time #apriori algoritması kural oluşturma süresi

0.02274179458618164

**Müşteri Seçiminin Filtrelenip Confidence'a göre Dataframe'in Sıralanması**

In [ ]:
sorted_antecedents=rules.loc[rules['antecedents'] == {customer_choice(choice)}].sort_values(by="confidence",ascending=False)
if sorted_antecedents.index.empty:
  raise Exception("İstenen Item ID için itemset oluşturulamadı...")
sorted_antecedents

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
263,(140),(297),0.220353,0.402019,0.087889,0.398855,0.992131,-0.000697,0.994737
267,(140),(299),0.220353,0.274601,0.062237,0.282443,1.028559,0.001728,1.010929
178,(140),(79),0.220353,0.180404,0.049622,0.225191,1.248261,0.009869,1.057804
26,(140),(36),0.220353,0.186712,0.040370,0.183206,0.981226,-0.000772,0.995708
250,(140),(261),0.220353,0.126156,0.037847,0.171756,1.361450,0.010048,1.055055
243,(140),(232),0.220353,0.151388,0.034483,0.156489,1.033694,0.001124,1.006047
1065,(140),"(297, 299)",0.220353,0.144239,0.030698,0.139313,0.965849,-0.001085,0.994277
842,(140),"(297, 79)",0.220353,0.112279,0.030278,0.137405,1.223776,0.005536,1.029128
1023,(140),"(232, 299)",0.220353,0.120269,0.029437,0.133588,1.110740,0.002935,1.015372
248,(140),(245),0.220353,0.110597,0.029437,0.133588,1.207877,0.005066,1.026535
268,(140),(300),0.220353,0.148865,0.026072,0.118321,0.794820,-0.006730,0.965357
273,(140),(329),0.220353,0.098823,0.025652,0.116412,1.177993,0.003876,1.019907
1034,(140),"(299, 245)",0.220353,0.085366,0.024390,0.110687,1.296619,0.005580,1.028473
252,(140),(263),0.220353,0.214886,0.023970,0.108779,0.506214,-0.023381,0.880941
237,(140),(164),0.220353,0.079058,0.023549,0.106870,1.351795,0.006129,1.031140
73,(140),(41),0.220353,0.082002,0.023129,0.104962,1.279996,0.005059,1.025653
1017,(140),"(232, 297)",0.220353,0.087889,0.022288,0.101145,1.150827,0.002921,1.014748
257,(140),(265),0.220353,0.102607,0.022288,0.101145,0.985750,-0.000322,0.998373
620,(140),"(297, 36)",0.220353,0.098402,0.021867,0.099237,1.008482,0.000184,1.000927
150,(140),(71),0.220353,0.066022,0.020606,0.093511,1.416371,0.006057,1.030325
1835,(140),"(232, 297, 299)",0.220353,0.073171,0.020185,0.091603,1.251908,0.004062,1.020291
245,(140),(234),0.220353,0.068966,0.017662,0.080153,1.162214,0.002465,1.012162
255,(140),(264),0.220353,0.067704,0.017241,0.078244,1.155683,0.002323,1.011435
261,(140),(296),0.220353,0.119849,0.017241,0.078244,0.652859,-0.009168,0.954864
270,(140),(308),0.220353,0.063499,0.016400,0.074427,1.172110,0.002408,1.011808
1028,(140),"(297, 245)",0.220353,0.055088,0.015980,0.072519,1.316415,0.003841,1.018794
999,(140),"(297, 164)",0.220353,0.045837,0.015559,0.070611,1.540479,0.005459,1.026656
240,(140),(213),0.220353,0.056350,0.015139,0.068702,1.219209,0.002722,1.013264
246,(140),(244),0.220353,0.049201,0.015139,0.068702,1.396359,0.004297,1.020940
1075,(140),"(299, 308)",0.220353,0.050463,0.014718,0.066794,1.323632,0.003599,1.017500
1071,(140),"(329, 297)",0.220353,0.044996,0.014718,0.066794,1.484447,0.004803,1.023358
101,(140),(48),0.220353,0.086207,0.014718,0.066794,0.774809,-0.004278,0.979198
276,(140),(351),0.220353,0.051304,0.014718,0.066794,1.301933,0.003413,1.016599
1010,(140),"(232, 245)",0.220353,0.051304,0.014298,0.064885,1.264735,0.002993,1.014524
626,(140),"(299, 36)",0.220353,0.058032,0.014298,0.064885,1.118099,0.001510,1.007329
134,(140),(70),0.220353,0.062658,0.014298,0.064885,1.035555,0.000491,1.002382
259,(140),(266),0.220353,0.079058,0.014298,0.064885,0.820732,-0.003123,0.984844
235,(140),(153),0.220353,0.111018,0.013877,0.062977,0.567271,-0.010586,0.948731
1848,(140),"(297, 299, 245)",0.220353,0.048780,0.013877,0.062977,1.291031,0.003128,1.015151
238,(140),(165),0.220353,0.058032,0.013457,0.061069,1.052329,0.000669,1.003234
1046,(140),"(297, 263)",0.220353,0.112700,0.013457,0.061069,0.541871,-0.011377,0.945011
1820,(140),"(232, 299, 245)",0.220353,0.046678,0.013036,0.059160,1.267416,0.002751,1.013267
848,(140),"(299, 79)",0.220353,0.056770,0.013036,0.059160,1.042098,0.000527,1.002540
589,(140),"(36, 79)",0.220353,0.047939,0.013036,0.059160,1.234063,0.002473,1.011926
265,(140),(298),0.220353,0.114802,0.012616,0.057252,0.498700,-0.012681,0.938955
1040,(140),"(297, 261)",0.220353,0.035324,0.012195,0.055344,1.566748,0.004411,1.021193
835,(140),"(261, 79)",0.220353,0.031960,0.012195,0.055344,1.731669,0.005153,1.024754
172,(140),(76),0.220353,0.034483,0.011775,0.053435,1.549618,0.004176,1.020022
274,(140),(332),0.220353,0.039529,0.011354,0.051527,1.303516,0.002644,1.012649
1059,(140),"(296, 297)",0.220353,0.066442,0.010513,0.047710,0.718065,-0.004128,0.980329
1053,(140),"(266, 299)",0.220353,0.059714,0.010513,0.047710,0.798973,-0.002645,0.987394
1665,(140),"(297, 36, 79)",0.220353,0.035324,0.010513,0.047710,1.350645,0.002729,1.013007
1004,(140),"(297, 213)",0.220353,0.035744,0.010513,0.047710,1.334755,0.002637,1.012565
1806,(140),"(232, 297, 245)",0.220353,0.034062,0.010093,0.045802,1.344642,0.002587,1.012303
854,(140),"(329, 79)",0.220353,0.024390,0.010093,0.045802,1.877863,0.004718,1.022439
7,(140),(17),0.220353,0.034483,0.010093,0.045802,1.328244,0.002494,1.011862

**Müşterinin Satın Alması Tahmin Edilen Ürünler**

In [ ]:
predictions=sorted_antecedents["consequents"].head(5) #confidence değeri en yüksek ilk 5 siparişin getirilmesi
pred_list=[list(i) for i in predictions]
#print(pred_list)
pred_list1 = [item for sublist in pred_list for item in sublist] #nested list normal list'e dönüştürüldü
def unique(list1):
    x = np.array(list1)
    return np.unique(x)
pred_list1=unique(pred_list1) #unique olmayan elemanların listeden çıkarılması
result=[]
for j in range(0,len(pred_list1)):
 result.append(get_item(df,pred_list1[j])) #çıkan tahmin sonucunu boş listeye aktarıyoruz
#print(result)
#temp_budget=customer_budget
print("Müşterinin satın alması tahmin edilen ürün(ler) ve bütçesi dahilinde maksimum satın alınabilecek adet:")
for k in range(0,len(result)):
    max_item_quantity=customer_budget/(df[df['Item Name']==result[k]]['Product Price'].values[0])
    import math
    max_item_quantity=math.floor(max_item_quantity)
    print(f"{k+1}-",result[k],f"(max {max_item_quantity} adet)",)

Müşterinin satın alması tahmin edilen ürün(ler) ve bütçesi dahilinde maksimum satın alınabilecek adet:
1- Bombay Aloo (max 2 adet)
2- Chicken Tikka Masala (max 1 adet)
3- Mushroom Rice (max 4 adet)
4- Pilau Rice (max 5 adet)
5- Plain Papadum (max 21 adet)

**Stok Artırılmasının Gerekli Olduğu Durumların Tespiti (Belirli Tarih için)**

In [ ]:
switch=1
for i in range(0,100):
    while switch==1:
      try:
        year,month,day = input("Tarih seçiniz: (YYYY MM DD formatında)\n").split()
        year=int(year)
        month=int(month)
        day=int(day)
        pred_list_df=df[df['Item ID'].isin(pred_list1)]
        date_filtered_df=pred_list_df[(pred_list_df['Date'] == pd.Timestamp(year,month,day))]
        if date_filtered_df.empty==False:
          switch=0
        else:
          print("İstenen tarihte herhangi bir veri bulunamadı...")
      except:
          print("Hata...")
          continue
      break
date_filtered_df

Tarih seçiniz: (YYYY MM DD formatında)
2019 03 08

/usr/local/lib/python3.7/dist-packages/pandas/core/ops/array_ops.py:73: FutureWarning:

Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products,Item ID,Date,Time
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6,299,2019-03-08,20:25:00
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6,261,2019-03-08,20:25:00
7,16117,03/08/2019 20:17,Mushroom Rice,1,3.95,7,261,2019-03-08,20:17:00
19,16115,03/08/2019 20:01,Plain Papadum,1,0.80,7,299,2019-03-08,20:01:00
24,16115,03/08/2019 20:01,Pilau Rice,1,2.95,7,297,2019-03-08,20:01:00
74838,25581,03/08/2019 20:01,Pilau Rice,1,2.95,5,297,2019-03-08,20:01:00
74839,25581,03/08/2019 20:01,Plain Papadum,1,0.80,5,299,2019-03-08,20:01:00

**Dataframe'de İstenen Tarih ve Saat Aralığındaki En Güncel Stok Sayısını Elde Etmek için Time Sütununu Sıralama İşlemi**

In [ ]:
sorted_time=date_filtered_df.loc[date_filtered_df['Item ID'] == date_filtered_df["Item ID"]].sort_values(by="Time",ascending=False)
sorted_time

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products,Item ID,Date,Time
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6,299,2019-03-08,20:25:00
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6,261,2019-03-08,20:25:00
7,16117,03/08/2019 20:17,Mushroom Rice,1,3.95,7,261,2019-03-08,20:17:00
19,16115,03/08/2019 20:01,Plain Papadum,1,0.80,7,299,2019-03-08,20:01:00
24,16115,03/08/2019 20:01,Pilau Rice,1,2.95,7,297,2019-03-08,20:01:00
74838,25581,03/08/2019 20:01,Pilau Rice,1,2.95,5,297,2019-03-08,20:01:00
74839,25581,03/08/2019 20:01,Plain Papadum,1,0.80,5,299,2019-03-08,20:01:00

**Stok Durum Kontrolü**

In [ ]:
for z in range(0,len(result)):
  try:
    max_item_quantity=customer_budget/(df[df['Item Name']==result[z]]['Product Price'].values[0])
    max_item_quantity=math.floor(max_item_quantity)
    #print(max_item_quantity)
    stock_control=(sorted_time[sorted_time['Item ID']==pred_list1[z]]['Total products'].values[0]-max_item_quantity)
    if stock_control<0:
      print(f"{result[z]} için {abs(stock_control)} adet stok artırılması tavsiye edilmektedir")
    else:
      print(f"{result[z]} için stok yeterlidir")
  except:
    pass
    #print("İstenilen tarih için stok bilgisi mevcut değil...")

Mushroom Rice için stok yeterlidir
Pilau Rice için stok yeterlidir
Plain Papadum için 15 adet stok artırılması tavsiye edilmektedir

**FP-Growth Algoritması**

In [ ]:
%pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.20.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [ ]:
fp_start = time.time()
from mlxtend.frequent_patterns import fpgrowth
frequency_fp=fpgrowth(my_ds, min_support=0.01, use_colnames=True) #my_ds değişkenini apriori algoritmasında tanımladık, min_support'u 0.012 alabiliriz
#apriori algoritmasında satır ve sütunları binary şeklinde hazırlamıştık(Order ID'de bulunan Item ID'ler 1, bulunmayanlar 0)
fp_end = time.time()
frequency_fp

/usr/local/lib/python3.7/dist-packages/mlxtend/frequent_patterns/fpcommon.py:115: DeprecationWarning:

DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type

      support         itemsets
0    0.110597            (245)
1    0.079058            (266)
2    0.039529            (280)
3    0.026072            (212)
4    0.148865            (300)
..        ...              ...
624  0.010093       (245, 165)
625  0.010093       (232, 165)
626  0.011775       (165, 263)
627  0.010934  (297, 299, 165)
628  0.010513        (297, 86)

[629 rows x 2 columns]

In [ ]:
fp_time=fp_end-fp_start
fp_time #fp-growth algoritması çalışma süresi

0.19510817527770996

In [ ]:
from mlxtend.frequent_patterns import association_rules
rules_fp_start = time.time()
rules_fp=association_rules(frequency_fp, metric="support", min_threshold=0.01) #metric'i lift min_threshold'u 1 alabiliriz
rules_fp_end = time.time()
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(299),(245),0.274601,0.110597,0.085366,0.310873,2.810858,0.054996,1.290622
1,(245),(299),0.110597,0.274601,0.085366,0.771863,2.810858,0.054996,3.179668
2,(297),(245),0.402019,0.110597,0.055088,0.137029,1.238995,0.010626,1.030629
3,(245),(297),0.110597,0.402019,0.055088,0.498099,1.238995,0.010626,1.191433
4,(36),(245),0.186712,0.110597,0.026913,0.144144,1.303326,0.006264,1.039197
...,...,...,...,...,...,...,...,...,...
2355,(297),"(299, 165)",0.402019,0.015559,0.010934,0.027197,1.747936,0.004678,1.011963
2356,(299),"(297, 165)",0.274601,0.031960,0.010934,0.039816,1.245829,0.002157,1.008182
2357,(165),"(297, 299)",0.058032,0.144239,0.010934,0.188406,1.306207,0.002563,1.054420
2358,(297),(86),0.402019,0.015559,0.010513,0.026151,1.680708,0.004258,1.010876
2359,(86),(297),0.015559,0.402019,0.010513,0.675676,1.680708,0.004258,1.843776

In [ ]:
rules_fp_time=rules_fp_end-rules_fp_start
rules_fp_time #fp-growth algoritması kural oluşturma süresi

0.018242597579956055

In [ ]:
sorted_antecedents_fp=rules_fp.loc[rules_fp['antecedents'] == {customer_choice(choice)}].sort_values(by="confidence",ascending=False)
sorted_antecedents_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1671,(140),(297),0.220353,0.402019,0.087889,0.398855,0.992131,-0.000697,0.994737
1673,(140),(299),0.220353,0.274601,0.062237,0.282443,1.028559,0.001728,1.010929
1350,(140),(79),0.220353,0.180404,0.049622,0.225191,1.248261,0.009869,1.057804
952,(140),(36),0.220353,0.186712,0.040370,0.183206,0.981226,-0.000772,0.995708
1768,(140),(261),0.220353,0.126156,0.037847,0.171756,1.361450,0.010048,1.055055
1495,(140),(232),0.220353,0.151388,0.034483,0.156489,1.033694,0.001124,1.006047
1679,(140),"(297, 299)",0.220353,0.144239,0.030698,0.139313,0.965849,-0.001085,0.994277
1396,(140),"(297, 79)",0.220353,0.112279,0.030278,0.137405,1.223776,0.005536,1.029128
1567,(140),"(232, 299)",0.220353,0.120269,0.029437,0.133588,1.110740,0.002935,1.015372
14,(140),(245),0.220353,0.110597,0.029437,0.133588,1.207877,0.005066,1.026535
758,(140),(300),0.220353,0.148865,0.026072,0.118321,0.794820,-0.006730,0.965357
817,(140),(329),0.220353,0.098823,0.025652,0.116412,1.177993,0.003876,1.019907
274,(140),"(299, 245)",0.220353,0.085366,0.024390,0.110687,1.296619,0.005580,1.028473
2156,(140),(263),0.220353,0.214886,0.023970,0.108779,0.506214,-0.023381,0.880941
1127,(140),(164),0.220353,0.079058,0.023549,0.106870,1.351795,0.006129,1.031140
1239,(140),(41),0.220353,0.082002,0.023129,0.104962,1.279996,0.005059,1.025653
1573,(140),"(232, 297)",0.220353,0.087889,0.022288,0.101145,1.150827,0.002921,1.014748
2179,(140),(265),0.220353,0.102607,0.022288,0.101145,0.985750,-0.000322,0.998373
972,(140),"(297, 36)",0.220353,0.098402,0.021867,0.099237,1.008482,0.000184,1.000927
2094,(140),(71),0.220353,0.066022,0.020606,0.093511,1.416371,0.006057,1.030325
1587,(140),"(232, 297, 299)",0.220353,0.073171,0.020185,0.091603,1.251908,0.004062,1.020291
1465,(140),(234),0.220353,0.068966,0.017662,0.080153,1.162214,0.002465,1.012162
1627,(140),(264),0.220353,0.067704,0.017241,0.078244,1.155683,0.002323,1.011435
1693,(140),(296),0.220353,0.119849,0.017241,0.078244,0.652859,-0.009168,0.954864
1824,(140),(308),0.220353,0.063499,0.016400,0.074427,1.172110,0.002408,1.011808
280,(140),"(297, 245)",0.220353,0.055088,0.015980,0.072519,1.316415,0.003841,1.018794
1149,(140),"(297, 164)",0.220353,0.045837,0.015559,0.070611,1.540479,0.005459,1.026656
916,(140),(213),0.220353,0.056350,0.015139,0.068702,1.219209,0.002722,1.013264
2276,(140),(244),0.220353,0.049201,0.015139,0.068702,1.396359,0.004297,1.020940
845,(140),"(329, 297)",0.220353,0.044996,0.014718,0.066794,1.484447,0.004803,1.023358
1960,(140),"(299, 308)",0.220353,0.050463,0.014718,0.066794,1.323632,0.003599,1.017500
1217,(140),(48),0.220353,0.086207,0.014718,0.066794,0.774809,-0.004278,0.979198
2084,(140),(351),0.220353,0.051304,0.014718,0.066794,1.301933,0.003413,1.016599
409,(140),(266),0.220353,0.079058,0.014298,0.064885,0.820732,-0.003123,0.984844
286,(140),"(232, 245)",0.220353,0.051304,0.014298,0.064885,1.264735,0.002993,1.014524
978,(140),"(299, 36)",0.220353,0.058032,0.014298,0.064885,1.118099,0.001510,1.007329
1330,(140),(70),0.220353,0.062658,0.014298,0.064885,1.035555,0.000491,1.002382
300,(140),"(297, 299, 245)",0.220353,0.048780,0.013877,0.062977,1.291031,0.003128,1.015151
1049,(140),(153),0.220353,0.111018,0.013877,0.062977,0.567271,-0.010586,0.948731
2168,(140),"(297, 263)",0.220353,0.112700,0.013457,0.061069,0.541871,-0.011377,0.945011
2334,(140),(165),0.220353,0.058032,0.013457,0.061069,1.052329,0.000669,1.003234
1402,(140),"(299, 79)",0.220353,0.056770,0.013036,0.059160,1.042098,0.000527,1.002540
1375,(140),"(36, 79)",0.220353,0.047939,0.013036,0.059160,1.234063,0.002473,1.011926
314,(140),"(232, 299, 245)",0.220353,0.046678,0.013036,0.059160,1.267416,0.002751,1.013267
995,(140),(298),0.220353,0.114802,0.012616,0.057252,0.498700,-0.012681,0.938955
1787,(140),"(261, 79)",0.220353,0.031960,0.012195,0.055344,1.731669,0.005153,1.024754
1794,(140),"(297, 261)",0.220353,0.035324,0.012195,0.055344,1.566748,0.004411,1.021193
1474,(140),(76),0.220353,0.034483,0.011775,0.053435,1.549618,0.004176,1.020022
1322,(140),(332),0.220353,0.039529,0.011354,0.051527,1.303516,0.002644,1.012649
1743,(140),"(296, 297)",0.220353,0.066442,0.010513,0.047710,0.718065,-0.004128,0.980329
938,(140),"(297, 213)",0.220353,0.035744,0.010513,0.047710,1.334755,0.002637,1.012565
593,(140),"(266, 299)",0.220353,0.059714,0.010513,0.047710,0.798973,-0.002645,0.987394
1389,(140),"(297, 36, 79)",0.220353,0.035324,0.010513,0.047710,1.350645,0.002729,1.013007
1483,(140),(17),0.220353,0.034483,0.010093,0.045802,1.328244,0.002494,1.011862
894,(140),"(329, 79)",0.220353,0.024390,0.010093,0.045802,1.877863,0.004718,1.022439
328,(140),"(232, 297, 245)",0.220353,0.034062,0.010093,0.045802,1.344642,0.002587,1.012303

In [ ]:
predictions_fp=sorted_antecedents_fp["consequents"].head(5) #confidence değeri en yüksek ilk 5 siparişin getirilmesi
pred_list_fp=[list(i) for i in predictions_fp]
#print(pred_list_fp)
pred_list_fp1 = [item for sublist in pred_list_fp for item in sublist] #nested list normal list'e dönüştürüldü
def unique_fp(list1):
    x = np.array(list1)
    return np.unique(x)
pred_list_fp1=unique_fp(pred_list_fp1) #unique olmayan elemanların listeden çıkarılması
result_fp=[]
for j in range(0,len(pred_list_fp1)):
 result_fp.append(get_item(df,pred_list_fp1[j])) #çıkan tahmin sonucunu boş listeye aktarıyoruz
#print(result_fp)
#temp_budget=customer_budget
print("Müşterinin satın alması tahmin edilen ürün(ler) ve bütçesi dahilinde maksimum satın alınabilecek adet:")
for k in range(0,len(result_fp)):
    max_item_quantity=customer_budget/(df[df['Item Name']==result_fp[k]]['Product Price'].values[0])
    import math
    max_item_quantity=math.floor(max_item_quantity)
    print(f"{k+1}-",result_fp[k],f"(max {max_item_quantity} adet)",)

Müşterinin satın alması tahmin edilen ürün(ler) ve bütçesi dahilinde maksimum satın alınabilecek adet:
1- Bombay Aloo (max 2 adet)
2- Chicken Tikka Masala (max 1 adet)
3- Mushroom Rice (max 4 adet)
4- Pilau Rice (max 5 adet)
5- Plain Papadum (max 21 adet)

**Apriori ve FP-Growth Algoritmaları için Çalışma Sürelerinin Karşılaştırılması**

In [ ]:
print("İki algoritmanın çalışma süreleri:")
print(f"Apriori algoritması: {round(ap_time, 5)} saniye")
print(f"FP-Growth algoritması: {round(fp_time, 5)} saniye")
a=float("{:.2f}".format(ap_time/fp_time))
print(f"FP-Growth, Apriori'ye göre {a} kat daha hızlı çalışmaktadır")

İki algoritmanın çalışma süreleri:
Apriori algoritması: 0.45397 saniye
FP-Growth algoritması: 0.19511 saniye
FP-Growth, Apriori'ye göre 2.33 kat daha hızlı çalışmaktadır

**Apriori ve FP-Growth Algoritmaları için Kural Oluşturma Sürelerinin Karşılaştırılması**

In [ ]:
print("Kural oluşturma süreleri:")
print(f"Apriori algoritması: {round(rules_ap_time, 5)} saniye")
print(f"FP-Growth algoritması: {round(rules_fp_time, 5)} saniye")
b=float("{:.2f}".format(rules_ap_time/rules_fp_time))
print(f"FP-Growth, Apriori'ye göre {b} kat daha hızlı kural oluşturmaktadır")

Kural oluşturma süreleri:
Apriori algoritması: 0.02274 saniye
FP-Growth algoritması: 0.01824 saniye
FP-Growth, Apriori'ye göre 1.25 kat daha hızlı kural oluşturmaktadır

**İki Algoritmanın Memory Size Karşılaştırması**

In [ ]:
import sys
print(f"Apriori algoritması için freq ve rules memory size: {sys.getsizeof(frequency)}, {sys.getsizeof(rules)}")
print(f"FP-Growth algoritması için freq ve rules memory size: {sys.getsizeof(frequency_fp)}, {sys.getsizeof(rules_fp)}")

Apriori algoritması için freq ve rules memory size: 137560, 1114080
FP-Growth algoritması için freq ve rules memory size: 137560, 1114080